<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="icon" type="image/png" href="{% static '/H.png' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">    
    {% if not request.user.is_authenticated %} <!-- User must be logged in to view this part of the site -->
        <meta http-equiv="REFRESH" content="0;url=../user/login">
    {% endif %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        nav li a {
            font-size: 1.1em !important;
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>
</head>
<body>
    <!-- Navigation section -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="text-align: center">
        <a class="navbar-brand" href="#" style="margin-left: 25px">
            <img src="{% static '/logo_dark.png' %}" height="70" class="d-inline-block align-top" alt="">
        </a>
        <button style="margin-right: 25px" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" role="navigation">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/user/{{request.user.entryNo}}">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/grades">Grades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/allcourses">Courses</a>
                </li>
                {% if not request.user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="/messages">Messages</a>
                </li>
                {% endif %}
            </ul>
            <ul class="ms-auto mb-lg-0" style="margin-right: 25px">
                <form action="../user/logout/">
                    <label style="color: #fff; font-size: 0.9em; margin-right: 20px">Signed in as {{ request.user.fullname }}</label>
                    <button type="submit" class="btn btn-outline-light ml-md-auto">Logout</button>
                </form>
            </ul>
        </div>
    </nav>

    <div class="container-fluid d-flex justify-content-center flex-wrap" style="background-color: #fff; padding-top: 50px; padding-bottom: 25px;">
        <div class="row container" style="background-color: rgba(233, 233, 233, .8); padding-top: 25px; padding-bottom: 15px;  border-radius: 15px; margin-bottom: 25px;">
            <h1 style="margin-left: 20px; font-size: 42px">View Grades</h1>
        </div>
        <div class="row container" style="background-color: rgba(233, 233, 233, .3); padding-top: 25px; padding-bottom: 25px;  border-radius: 15px;">
            <table class="table table-bordered table-striped doctable">
                <thead>
                    <th>S. No</th>
                    <th>Course Code</th>
                    <th>Grade ( / 10)</th>
                </thead>
            {% for i, j in courselists %}
                <tr>
                    <td class="col-sm-2" style="font-family: 'Fantasque Sans Mono'; font-size: 1.1em;">{{forloop.counter}}</td>
                    <td class="col-sm-5" style="font-family: 'Fantasque Sans Mono'; font-size: 1.1em;">{{i.courseCode}}</td>
                    <td class="col-sm-5" style="font-family: 'Fantasque Sans Mono'; font-size: 1.1em;">{{j}}</td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
    
    <footer class="bg-dark text-center text-lg-start">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: #999;">
          Copyright &copy; <script>document.write(new Date().getFullYear())</script> HoloNorm Inc. All rights reserved.
        </div>
    </footer>
</body>
</html>