<div class="col-sm-8 scrollcontainer" style="padding: 5px; border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.2); min-height: 30rem; max-height: 30rem; overflow-y: scroll;">
    <div class="tab-content" id="v-pills-tabContent">
    {% for i, k in allmessages2 %}
        <div class="tab-pane fade" id="v-pills-msg{{forloop.counter}}" role="tabpanel" aria-labelledby="v-pills-msg{{forloop.counter}}-tab" tabindex="0">
            <form action="#" method="POST" enctype="multipart/form-data" id="replyform">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="text" name="lastmsg" value="{{k}}" style="visibility: hidden; position: absolute;"/>
                    <input type="text" class="form-control" name="replycontent" style="border-radius: 1000px;"/>
                    <div class="input-group-append">
                        <button onclick="replyToMsg()" type="submit" class="btn btn-primary d-flex justify-content-center align-items-center" style="padding: 10px; border-radius: 1000px"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                            <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                          </svg></button>
                        <script>
                            function replyToMsg() {
                                fetch("/messages/replyusermsg", {
                                    method: "POST",
                                    body: new FormData(document.getElementById("replyform"))
                                });
                            }
                        </script>
                    </div>
                </div>
            </form>
            <ul class="list-group">
            {% for j in i %}
                <li class="list-group-item {% if j.fromMsg == request.user.entryNo %}active{% endif %}">
                    <p style="color: #999; font-family: 'Fantasque Sans Mono';"><a href="/user/{{j.fromMsg}}" style="color: #999; font-family: 'Fantasque Sans Mono';">{{j.fromMsg}}</a> wrote on {{j.datetimesent}}</p>
                    {{j.content}}
                </li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
    </div>
</div>